<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markowitz Portfolio Optimizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <h2 class="header">Financial Risk Management</h2>
        </div>
        <div class="header-right">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        </div>
    </header>
    <div class="container mt-5">
        <h1 class="mb-4">Markowitz Portfolio Optimizer</h1>
        <div class="alert alert-info">
            <strong>Info:</strong> This tool allows you to optimize a portfolio of stocks using the Markowitz Modern Portfolio Theory. 
            Select between 4 and 10 stocks and specify a date range to analyze the optimal portfolios based on different criteria.
        </div>
        <div id="selected-stocks" class="mb-2"></div>
        <form id="portfolio-form">
            <div class="form-group">
                <label for="start-date">Start Date:</label>
                <input type="date" class="form-control" id="start-date" name="start-date">
            </div>
            <div class="form-group">
                <label for="end-date">End Date:</label>
                <input type="date" class="form-control" id="end-date" name="end-date">
            </div>
            <div class="form-group">
                <label for="tickers">Select Stocks:</label>
                <div class="input-group">
                    <select id="tickers" name="tickers" class="form-control" multiple>
                        <option value="AAPL">Apple (AAPL)</option>
                        <option value="MSFT">Microsoft (MSFT)</option>
                        <option value="GOOGL">Alphabet (GOOGL)</option>
                        <option value="AMZN">Amazon (AMZN)</option>
                        <option value="TSLA">Tesla (TSLA)</option>
                        <option value="NVDA">NVIDIA (NVDA)</option>
                        <option value="BRK-B">Berkshire Hathaway (BRK-B)</option>
                        <option value="JPM">JPMorgan Chase (JPM)</option>
                        <option value="JNJ">Johnson & Johnson (JNJ)</option>
                        <option value="V">Visa (V)</option>
                        <option value="PG">Procter & Gamble (PG)</option>
                        <option value="UNH">UnitedHealth Group (UNH)</option>
                        <option value="HD">Home Depot (HD)</option>
                        <option value="DIS">Disney (DIS)</option>
                        <option value="PYPL">PayPal (PYPL)</option>
                        <option value="KO">Coca-Cola (KO)</option>
                        <option value="PEP">PepsiCo (PEP)</option>
                        <option value="NFLX">Netflix (NFLX)</option>
                        <option value="INTC">Intel (INTC)</option>
                        <option value="CSCO">Cisco (CSCO)</option>
                        <!-- Add more stocks as needed -->
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="add-stock-btn"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="optimize" name="action" value="optimize">Optimize</button>
        </form>
        <div id="results" class="mt-5">
            <h2>Optimal Portfolio</h2>
            <div id="portfolio-table"></div>
            <div class="diagram-container">
                <div id="efficient-frontier" style="width: 100%; height: 600px;"></div>
                <div id="efficient-frontier-description" class="diagram-description">
                    This graph represents the efficient frontier, showing the trade-off between risk and return for different portfolio combinations.
                    <br><br><br>
                    This plot shows the cumulative return of the optimized portfolio over the selected time period.
                </div>
            </div>
            <div class="diagram-container">
                <div id="cumulative-plot" style="width: 100%; height: 600px; position: relative;">
                    <div id="cumulative-plot-description" class="diagram-description">
                        
                    </div>
                </div>
            </div>
            <div id="disclaimer"></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Modern Portfolio Dashboard. All rights reserved.</p>
    </footer>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
